*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(214,214,214);
}
.container {
    width: 400px;
    height: 550px;
    margin: 80px auto;
    background-color: rgb(214, 214, 214);
    box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
    border-radius: 10px;
    box-shadow: 1px px 1px 0px;
}
.cal-box{
    width: 350px;
    margin: 20px auto;
}
#display{
    font-size: 30px;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    color: black;
    text-align: right;
    font-weight: 800;
    padding: 15px;
    margin:15px 15px 15px 15px;
    background: transparent;
    box-shadow: inset 2px 2px 5px #babecc,inset -5px -5px 10px #ffffff;
}
.button{
    margin: 15px 0 0 12px;
    width: 70px;
    height: 65px;
    font-size: 25px;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    background: rgb(214 214 214);
    box-shadow: 5px 5px 10px #b6acac , -5px -5px 10px #fafaf4;
    display: inline-block;
}
.button:active{
    box-shadow: inset 1px 1px 2px #babeec,inset -1px -1px 2px #ffffff;
}
.clearbutton{
    background-color: red;
    color: white;
}
.mathbutton{
    background-color: black;
    color: white;
}